
@media (max-width: 1200px) {    
    .about-container{
        flex-direction: column;
    }
}


@media (max-width: 660px) {    
    .about-container img{
        width: 400px !important;
    }
}

.skills{
    font-size: 20px;
}

@media (max-width: 968px) {    
    .skills{
        font-size: 16px;
    }
    
}