
.object-info{
    width: 50%;
}
.my-info{
    font-size: 20px;
}
@media (max-width:1300px) {
    .my-info{
        font-size: 18px;
    }
    img{
        width: 450px;

    }
}

@media (max-width: 1110px) {
    .hello-container{
        flex-direction: column;
        gap: 29px;
    }
    .object-info{
        width: 100%;
    }
    .object-info span{
        font-size: 19px;
    }    
   
    .hello-img{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
